*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #585858;
}
body{
    max-width: 1440px;
    margin: 0 auto; 
    font-family: var(--Fuente);
    background-image: url('../images/bg-2.png');
}