.register main{
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    padding-bottom: 50px;
    color: var(--Jorge)
}
.register main h1{
    text-align: center;
}

.register main .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    font-weight: bold;
}
.register main .container label{
    margin-bottom: 5px;
}
.register main .container input{
    width: 100%;
    padding: 10px;
}
.register main small{
    margin-top: 5px;
    color: var(--Alfonzo);
}
.register main button{
    padding: 15px;
    background-color: var(--Ruben);
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    width: 170px;
}
.register main textarea{
    resize: none;
}
.register .bottom{
    margin-bottom: 20px;
}

.register .container-img label{
    background-color: var(--Rogelio);
    padding: 15px;
    border-radius: 15px;
    border: 1px solid white;
    margin-bottom: 20px;
    color: white;
}
.register .container-img label:hover{
    background-color: white;
    border: 1px solid black;
    color: var(--Rogelio);
}
.register .container-img input{
    display: none;
}