

:root{
    --Alfonzo:#e65100;
    --Ruben:#3d8dbc;
    --Jorge:#545454;
    --Rogelio:#37ad3d;
    --Poroto:#a7d0f6;
    --Marta:#a7d0f650;
    --Waldo:#0e4ca199;
    --Juan:#000000;
    --Fuente:Verdana, Geneva, Tahoma, sans-serif;
}
