<footer>
    <section class="Redes">
        <h2>Redes</h2>
        <ul>
            <li><a href="https://www.facebook.com"><i class="fab fa-facebook"></i>facebook</a></li>
            <li><a href="https://www.instagram.com"><i class="fab fa-instagram-square"></i>instagram</a></li>
            <li><a href="https://www.twitter.com"><i class="fab fa-twitter-square"></i>twitter</a></li>
            <li><a href="https://www.tiktok.com"><i class="fab fa-tiktok"></i>tiktok</a></li>
            <li><a href="https://ar.linkedin.com/"><i class="fab fa-linkedin"></i>linkedin</a></li>
            <li><a href="https://api.whatsapp.com/send?phone=542616048911&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202."><i class="fab fa-whatsapp-square"></i>whatsapp</a></li>
        </ul>
        
    </section>
    <section class="Empresa">
        <h2>Empresa</h2>
        <ul class="extras">
            <li><a href="/about">Quienes somos</a></li>
            <li><a href="/works">Trabaja con nosotros</a></li>
        </ul>
        <ul>
            <li>Encontranos en:<a class="direccion" href="https://www.google.com.ar/maps/@-32.9577728,-68.8466427,15z">Calle falsa 123</a></li>
            <li class="mapa"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13391.28992809957!2d-68.84643977327882!3d-32.95569590054431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x967e0bb75e527e7d%3A0xeb428178f5e3a32c!2sCerveceria%20Andes!5e0!3m2!1ses-419!2sar!4v1659014217025!5m2!1ses-419!2sar" width="600" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></li>
        </ul>
    </section>
    <section class="Copyrigth">
        <form action="" method="post">
            <label for="email">¿Queres recibir nuestras mejores ofertas?</label>
            <input type="email" name="email" id="email">
            <button type="submit">Suscribite</button>
        </form>
        <p>Copyrigth todos los derechos son reservados</p>
    </section>
</footer>

<script src="/javascripts/glider.js"></script>
<script src="/javascripts/productos.js"></script>