<header>
    <div class="top">
        <div class="logo">
            <a href="/">
                <img src="/images/logo.png" alt="">
            </a>
        </div>
    </div>
    <div class="burger">
        <input type="checkbox" name="burger" id="burger" class="burger-menu" checked>
        <label for="burger" class="burger-label"><i class="fas fa-ellipsis-v"></i></label>
        <nav>
            <div class="center">
                <div class="form-search">
                    <form action="/busqueda" method="get">
                        <input type="text" name="search" id="search" class="barraDeBusqueda" placeholder="Busca tu producto aca ">
                        <button type="submit" class="lupa"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <ul class="menu">
                    <li><a href="/products/Smartphones">Smartphones</a></li>
                    <li><a href="/products/Tablets">Tablets</a></li>
                    <li><a href="/products/Notebooks">Notebooks</a></li>
                    <% if (locals.userLogin && (+locals.userLogin.rol) === 1) { %>
                        <li><a href="/admin/list">Admin</a></li>
                    <% } %>
                </ul>
            </div>
            <ul class="user">
                <% if (locals.userLogin) { %>
                    <li><a href="/users/profile">Bienvenido <%= locals.userLogin.nombre %> </a></li>
                    <li id="cart-btn" class="cart-btn"><!--<a href="/products/cart">--><i class="fas fa-shopping-cart"></i><!--</a>--></li>
                <% } else { %>
                    <li><a href="/users/login">Login</a></li>
                    <li><a href="/users/register">Registro</a></li>
                <% } %>
            </ul>
        </nav>
    </div>
    <div class="cart-container"></div>
</header>